/*@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

body {
    background-color: #eee;
}

.en {
    font-family: 'Open Sans', sans-serif;
}


.container-fluid {
    min-height: 100vh;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #081828;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 10px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav div a {

    color: #eee;
    text-decoration: none;
    padding: 10px;
    transition: all 500ms ease-in-out;
}

nav div a:hover {
    border-bottom: 1px #eee solid;
    color: #eee;
}

nav h2 {
    color: #eee;
    font-family: 'Open Sans', sans-serif;
}


.carousel-item {
    
}


.swiper {
    width: 100%;
    height: calc(100vh - 100px);
    margin-bottom: 20px;
    border-radius: 1rem;

  }

  .overly {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .62);
    border-radius: 1rem;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    background-image: url("../images/mountains.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .titles {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eee;
  }

  .slide_img {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide_img img {
    height: 100%;
   
  }

@media (max-width: 767px) {
    .overly {
        flex-direction: column;       
    }

    .slide_img {
        width: 100%;
        height: 50%;
    }


    nav div {
        display: none;
    }


}


.nav_btn {
    background-color: #eee;
    border: none !important;
}

.fa-bars{
    color: #081828;
    font-size: 18px;

}


.offcanvas-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.offcanvas-body div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.offcanvas-body div a {
    color: #081828;
}

.offcanvas-body div a:hover {
    color: #081828;
    border-bottom: 1px #081828 solid;

}


#about {
    padding: 100px 0px;
    position: relative;
    z-index: 9;
}

.features-item {
    border-radius: 5px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}


.features-item svg {
    width: 80px;
    height: 80px;
    z-index: 10;
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
}





.features-item .main-button {
    margin-top: 35px;
    display: inline-block;
}



.features-item .main-button {
    margin-top: 35px;
    display: inline-block;
}


span.main-button {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #081828;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

span.main-button:hover {
    background-color: #fff;
    color: #081828;
    border: #081828 1px solid;
}

span {
    text-decoration: none !important;
}

.title_service {
    text-align: center;
    margin-bottom: 80px;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;

}

.left-heading .section-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




.left-text {
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_img_container {
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    background-image: url("../images/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}



#features {
    padding-top: 130px;
}

.features .features-content {
    z-index: 2;
    position: relative;
    border-radius: 1rem;
}

.features-item {
    text-align: center;
    padding: 30px;
    border-radius: 1rem;
    background: rgb(255,255,255);
    background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
    margin-bottom: 40px;
}

.features-item .number h6 {
    background-repeat: no-repeat;
    width: 110px;
    height: 69px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 69px;
    margin-top: -65px;
    margin-bottom: 30px;
}

.features-item .all_numbers h6 {
    background-image: url("../images/features-number-01.png");
}

.features-item .icon {
    width: 63px;
    height: 63px;
    margin: 0 auto;
    transition: all 0.5s;
}


.features-item .line-dec {
    width: 100px;
    height: 2px;
    background-color: #081828;
    margin: 30px auto;
    transition: all 0.5s;
}



.all_features .icon {
    background-image: url("../images/premium.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}